node_modules
dist
.DS_Store
.env

# Capacitor / Android
android/app/build/
android/.gradle/
android/local.properties
android/.idea/
android/*.iml
android/build/

# IDE
.vscode/

# Secrets
*.jks
*.keystore
